# Note: Cordova also adds its own .gitignore file at app/platforms/android/.gitignore
.sass-cache
app/platforms/android/app/src/main/assets/www/data
app/platforms/browser
app/plugins/
app/node_modules/
app/www/css/
app/www/js/
*.emacs*
