<?xml version='1.0' encoding='utf-8'?>
<widget id="org.mamoowung.kreuungching" version="1.6" xmlns="http://www.w3.org/ns/widgets"
		xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>เครื่องฉิ่ง</name>
    <description>ฉิ่งอัตโนมัติเพื่อฝึกตนตรีไทย</description>
    <author email="dlbeswick@gmail.com">David Beswick</author>
    <content src="index.html" />
	<icon src="res/ching.png" />

	<!-- Unfortunately, older Android versions' WebView doesn't have any support for the WebAudio APIs, and
		 WebView is an updateable component only from 5.0.1 onwards. -->
	<preference name="android-minSdkVersion" value="21" />
	<preference name="permissions" value="none" />

	<!-- If a splash screen isn't defined, then
		 "Error: The drawable "screen" in drawable-port-xhdpi has no declaration in the base drawable folder..."
		 is thrown during "gradle assembleRelease" -->
	<splash src="res/ching.png" />
</widget>
