@import 'minima.scss';

@include media-query($on-palm) {
	.post-content {
		td,th {
			display: block;
			border: none;
			text-align: center;
			padding: none;
		}
		tr {
			display: block;
			padding-bottom: 30px;
		}
		table {
			width: 100%;
		}
	}
}

button, button:active:disabled {
	background: white;
	border-radius: 3px;
	border: solid 1px;
	box-shadow: 2px 2px lightgrey;
	margin-bottom: 1px;
	margin-left: 0px;
	margin-right: 1px;
	overflow: hidden;
	padding: 1px 8px 0px 8px;
	touch-action: manipulation;
}

button:active {
	padding: 0px 8px 0px 8px;
	margin-left: 1px;
	margin-right: 0px;
	margin-bottom: 1px;
	border: solid 1px;
	background: white;
	box-shadow: none;
	border-radius: 3px;
	overflow: hidden;
	touch-action: manipulation;
}

.spinner {
	display: none;
	font-size: smaller;
}

.error {
	color: red;
	background-color: bisque;
	padding: 4px*0.75 4px 4px*0.75 4px;
	border: 1px;
	border-radius: 4px;
	border-color: red;
	border-style: solid;
	margin: 5px;
	display: none;
}

#ching {
	label {
		font-size: x-large;
	}
	
	fieldset {
		margin-bottom: 1em;
	}
	
	button {
		font-size: x-large;
	}

	#pattern-select button {
		display: block;
	}

	#ching-visualize {
		height: 30px;
		width: 300px;
		.ching-visualize-block {
			display: inline-block;
			border: solid 1px grey;
			border-radius: 3px;
			height: 25px;
			width: 66px;
		}
	}
}

.buttonstrip-sml {
	button {
		width: 3em;
	}

	padding-bottom: 5px;
	padding-top: 5px;
}

.buttonstrip-med {
	button {
		width: 4em;
	}
	
	margin-bottom: 5px;
	margin-top: 5px;
}

.buttonstrip-lrg {
	button {
		width: 4em;
		height: 3em;
	}

	margin-bottom: 5px;
	margin-top: 5px;
}

.buttonstrip-stretch {
	button {
		width: 100%;
	}
}

.flexbox-wrap {
	display: flex;
	flex-wrap: wrap;
	div {
		padding-left: 2px;
		padding-right: 2px;
	}
}

.controlstrip {
	display: flex;
	margin-bottom: 1em;
	margin-top: 1em;
	width: 100%;
	label {
		display: flex;
		flex-direction: column;
		input {
			width: 3em;
			font-size: x-large;
		}
	}
}

fieldset {
	border-style: none;
	padding-left: 5px;
	padding-right: 0px;
	legend {
		background-color: lavender;
		width: 100%;
		border-radius: 5px;
		margin-left: -10px;
	}
}

@include media-query($on-palm) {
	fieldset {
		padding-left: 0px;
		legend {
			margin-left: 0px;
		}
	}
}
